@import './variables';

html{
    scroll-behavior: smooth;
    a{
        margin-bottom: 1rem;
        color:inherit;
    }
    a:visited{
        color:snow;

    }
}

body{
    background-color: white;
    padding:0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    //max-width: 1440px;
    scroll-behavior: smooth;
}

.container{
    max-width: 1440px;
    margin:0 auto;
}

section{
    padding-left: 42px;
    padding-right: 42px;
}

nav{
    color:white;
    background-color: #212529;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 999;
    a{
        text-decoration: none;
    }


    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:10px;

        .logo a:hover{
            color: #fed136;
        }
 
        .menuBtn{
            background-color: #fed136;
            border-style: none;
            outline:none;
            border:none;
            padding: 10px;
            border-radius: 5px;
            color:inherit;
            font-weight: bold;
            font-size: 1rem;
            i{
                margin-left:5px;
            }
            
        }

    }

    #navLinks{
        width: 100%;
        display: none;
        font-size: 2rem;
        padding-left:10px;
        a:hover{
            color:#fed136;
        }
        &.active{
            display: flex;
            flex-direction: column;
        }

    }

    .tabletLinks{
        display: none;
    }
    @media screen and (min-width:$md) {
        #navLinks{
            display: none;
        }
        .menuBtn{
            display: none;
        }

        .tabletLinks{
            display: flex;
            justify-content: space-between;
            width: 40%;
            align-items: center;
            font-size: 1.5rem;
            a{
                margin:0.83rem;
            }
            
            a:hover{
                color:#fed136;
            }
        }
    }
    
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/EarthLights.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    color:white;
    text-align: center;
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    .heroContent{
        margin-top: 20px;
        padding-left: 5px;
        padding-right:5px;
        border-radius: 5px;
        height: fit-content;
        h2{
            font-size: 1.5rem;
        }
        h1{
            font-size: 3rem;
        }
    }
}

.aboutMe{
    padding-top: 89px;
    
    text-align: center;
    img{
        width: 100%;
        height: 100%;
    }
    h3{
        font-size: 3rem;
        width: 100%;
    }
    .aboutMeContent{
        font-size: 1.2rem;
        text-align: left;
    }
    @media screen and (min-width:$md) {
        padding-left: 48px;
        padding-right: 48px;
        .aboutMeContent{
            display: flex;
            align-items: center;
            img{
                width: 50%;
            }
            p{
                padding-left: 50px;
                max-width: 40ch;
                line-height: 28px;
            }

        }
        
        
    }
    
    

    
}

.technologies{
    padding-top: 89px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h3{
        font-size: 3rem;
        width: 100%;
    }
    .techCard{
        width:100%;
        border-radius: 5px;
        margin-bottom: 40px;
        padding: 1rem;
        
        img{
            max-height: 300px;
            max-width: 95%;
            object-fit: contain;
        }
        h4{
            font-size: 1.2rem;
            margin-bottom: 30px;
        }
        i{
            font-size: 10rem;
            
        }
    }
    @media screen and (min-width:$sm) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .techCard{
            width: 33%;
            img{
                max-width: 250px;
                max-height: 250px;
            }

        }
    }

}

.portfolio{
    padding-top: 89px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h3{
            font-size: 3rem;
            width: 100%;
        }

        p{
            width: 80%;
        }
        
        .projectCardv2{
            background-color: #363636;
            background-image: url('/images/projectMock.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
            background-blend-mode: overlay;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom center;
            width: 95%;
            border-radius: 10px;
            .description{
                margin: 1rem auto;
                color: snow;
                box-sizing: border-box;
                width: 85%;
                text-align: left;

                h4{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
                a:hover{
                    color: #fed136;
                }
            }
            .summary{
                display: flex;
                width: 85%;
                color:snow;
                margin: 0 auto;
                visibility: hidden;
                opacity: 0;
                transition: opacity .2s, visibility .2s;
                p{
                    transition: .2s;
                    transform: translateY(1em);
                    text-align: left;
                    width: 70%;
                }
                
            }
            &:hover{
                .summary{
                    visibility: visible;
                    opacity: 1;
                    p{
                        transition: .2s;
                        transform: translateY(0)
                    }
                }
            }
            margin-bottom: 100px;
        }
    }
    
    @media screen and (min-width:$sm) {
        .col{
            p{
                font-size: 1.2rem;
            }

            .projectCardv2{
                min-height: 450px;
                width: 85%;
                .description{
                    h4{
                        font-size: 2rem;
                    }
                    a{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        
        
        
    }
    @media screen and (min-width:$lg) {
        
        
    }

    
}

.contact{
    padding-top:1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    color: black;
    .contactContent{
        border-radius: 10px;
        padding:1rem;
        h3{
            font-size: 3rem;
            width: 100%;
            text-align: center;
            margin-top: 0px;
        }
        margin-bottom: 2rem;

    }
    
    form{ 
        width: 100%;
        .row{
            input{
                box-sizing: border-box;
    
                border-style: none;
                width: 100%;
                outline:none;
                border:none;
    
                font-size: 1rem;
                border:2px solid grey;
                margin-bottom: 30px;
                border-radius: 5px;
                padding:1.25rem;
            }

        }
        

        textarea{
            box-sizing: border-box;
            height:300px;
            width: 100%;
            outline:none;
            border:none;
            font-size: 1rem;
            border: 2px solid grey;
            margin-bottom: 30px;
            border-radius: 5px;
            padding:1.25rem;
        }

        input[type='submit']{
            background-color: #1183ca;
            color: snow;
            border-style: none;
            width: 100%;
            outline:none;
            border:none;
            border-radius: 5px;
            padding:1.25rem;
            margin-bottom: 30px;
            -webkit-appearance: none; 
        }
    }
    @media screen and (min-width:$md) {
        form{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .row{
                max-width: 50%;
                width: 45%;
                padding-right: 0.75rem;
                padding-left: 0.75rem;
                padding-bottom: 0.75rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                #message{
                    width: 100%;
                    height: 100%;
                    
                }

                
            }

            .row.submit{
                margin-right: auto;
            }

            #submit{
                width: 100%;
            }
        }
        
    }
    
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #212529;
    align-items: center;
    width:100%;
    max-width: none;
    padding-top:24px;
    padding-bottom:24px;
    color:snow;
    .footerCopyRight{
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    .footerIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 3rem;
        width: 75%;
        i:hover{
            color:blue;
            cursor: pointer;
        }

    }
}