html {
  scroll-behavior: smooth;
}

html a {
  margin-bottom: 1rem;
  text-decoration: none;
  color: inherit;
}

html a:visited {
  color: snow;
}

body {
  background-color: white;
  padding: 0;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  padding-left: 42px;
  padding-right: 42px;
}

nav {
  color: white;
  background-color: #212529;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

nav .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

nav .header .menuBtn {
  background-color: #fed136;
  border-style: none;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: inherit;
  font-weight: bold;
  font-size: 1rem;
}

nav .header .menuBtn i {
  margin-left: 5px;
}

nav #navLinks {
  width: 100%;
  display: none;
  font-size: 2rem;
  padding-left: 10px;
}

nav #navLinks a:hover {
  color: #fed136;
}

nav #navLinks.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .tabletLinks {
  display: none;
}

@media screen and (min-width: 960px) {
  nav #navLinks {
    display: none;
  }
  nav .menuBtn {
    display: none;
  }
  nav .tabletLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
  nav .tabletLinks a {
    margin: 0.83rem;
  }
  nav .tabletLinks a:hover {
    color: #fed136;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/images/EarthLights.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0px;
  min-height: 100vh;
}

.hero .heroContent {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.hero .heroContent h2 {
  font-size: 1.5rem;
}

.hero .heroContent h1 {
  font-size: 3rem;
}

.aboutMe {
  padding-top: 89px;
  text-align: center;
}

.aboutMe img {
  width: 100%;
  height: 100%;
}

.aboutMe h3 {
  font-size: 3rem;
  width: 100%;
}

.aboutMe .aboutMeContent {
  font-size: 1.2rem;
  text-align: left;
}

@media screen and (min-width: 960px) {
  .aboutMe {
    padding-left: 48px;
    padding-right: 48px;
  }
  .aboutMe .aboutMeContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMe .aboutMeContent img {
    width: 50%;
  }
  .aboutMe .aboutMeContent p {
    padding-left: 50px;
    max-width: 40ch;
    line-height: 28px;
  }
}

.technologies {
  padding-top: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologies h3 {
  font-size: 3rem;
  width: 100%;
}

.technologies .techCard {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 1rem;
}

.technologies .techCard img {
  max-height: 300px;
  max-width: 95%;
  -o-object-fit: contain;
     object-fit: contain;
}

.technologies .techCard h4 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .technologies {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .technologies .techCard {
    width: 33%;
  }
  .technologies .techCard img {
    max-width: 250px;
    max-height: 250px;
  }
}

.portfolio {
  padding-top: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.portfolio .col h3 {
  font-size: 3rem;
  width: 100%;
}

.portfolio .col p {
  width: 80%;
}

.portfolio .col .projectCardv2 {
  background-color: #363636;
  background-image: url("/images/projectMock.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: url("/images/projectMock.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 100px;
}

.portfolio .col .projectCardv2 .description {
  margin: 1rem auto;
  color: snow;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 85%;
  text-align: left;
}

.portfolio .col .projectCardv2 .description h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.portfolio .col .projectCardv2 .description a:hover {
  color: #fed136;
}

.portfolio .col .projectCardv2 .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  color: snow;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
}

.portfolio .col .projectCardv2 .summary p {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
  text-align: left;
  width: 70%;
}

.portfolio .col .projectCardv2:hover .summary {
  visibility: visible;
  opacity: 1;
}

.portfolio .col .projectCardv2:hover .summary p {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 600px) {
  .portfolio .col .projectCardv2 {
    min-height: 450px;
  }
  .portfolio .col .projectCardv2 .description h4 {
    font-size: 2rem;
  }
  .portfolio .col .projectCardv2 .description a {
    font-size: 1.5rem;
  }
  .portfolio .col .projectCardv2 .description p {
    font-size: 1.2rem;
  }
}

.contact {
  padding-top: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  color: black;
}

.contact .contactContent {
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.contact .contactContent h3 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  margin-top: 0px;
}

.contact form {
  width: 100%;
}

.contact form .row input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: none;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  border: 2px solid grey;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 1.25rem;
}

.contact form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 300px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  border: 2px solid grey;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 1.25rem;
}

.contact form input[type='submit'] {
  background-color: #1183ca;
  color: snow;
  border-style: none;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1.25rem;
  margin-bottom: 30px;
}

@media screen and (min-width: 960px) {
  .contact form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact form .row {
    max-width: 50%;
    width: 45%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    padding-bottom: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact form .row #message {
    width: 100%;
    height: 100%;
  }
  .contact form .row.submit {
    margin-right: auto;
  }
  .contact form #submit {
    width: 100%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #212529;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: none;
  padding-top: 24px;
  padding-bottom: 24px;
  color: snow;
}

footer .footerCopyRight {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

footer .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
  width: 75%;
}

footer .footerIcons i:hover {
  color: blue;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */